body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-0);
    background: var(--cor-12);
}

ul {
    padding: 0px;
    list-style: none;
}

h1,
h2,
h3,
h4 ul,
p,
blockquote,
dd {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

img[src$=".jpg"] {
    border-radius: 4px;
}

.btn {
    display: inline-block;
    background: var(--cor-10);
    padding: 12px 20px;
    border: solid 1px var(--cor-p2);
    border-radius: 10px;
    font:
        400 1.125rem/1.35 "Nunito",
        sans-serif;
}

.btn:hover {
    border: solid 1px var(--cor-p1);
    color: var(--cor-p2);
    transition: 0.5s;
    background: var(--cor-11);
}

.headline {
    font:
        600 1.5rem/1.5 "Nunito",
        sans-serif;
    color: var(--cor-p2);
}

@media (max-width: 800px) {
    .headline {
        font:
            600 1rem/1.5 "Nunito",
            sans-serif;
    }
}
