.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.links-menu {
    display: flex;
    gap: 40px;
}

.links-menu li a {
    font-family: "Nunito", sans-serif;
    font-size: 1.275rem;
    color: var(--cor-7);
}

.links-menu li a.ativo {
    color: var(--cor-0);
}

.links-menu li a:hover {
    color: var(--cor-p2);
}

@media (max-width: 800px) {
    .links-menu {
        display: none;
    }
    .header {
        margin: 0 40px;
    }

    .nav-logo {
        max-width: 100px;
    }
}
