main {
  position: relative;
}

canvas {
  position: absolute;
  z-index: -1;
  top: -204px;
}

.introducao {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.introducao-bg{
  background: rgba(0, 0, 0, 0.6);
}

.introducao p {
  margin-bottom: 12px;
}

.introducao h1 {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .introducao{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  canvas {
    max-width: 100%;
  } 
}