main {
    background: url("../../img/bg/Website\ Background\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 100px;
}

.info-introducao {
    margin: 0 auto;
    text-align: center;
}

.info-introducao p {
    margin: 12px 0px;
}

.info-introducao .btn {
    margin-top: 20px;
}
