.sobre {
    padding-top: 40px;
    padding-bottom: 40px;
}

.info-sobre {
    text-align: center;
}

.info-sobre h1 {
    max-width: 27ch;
    margin: 20px auto;
}

.info-sobre img {
    margin: 60px auto;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.card {
    background-color: var(--cor-11);
    padding: 20px 40px;
    border: 1px solid; /* Define a borda */
    border-image: linear-gradient(var(--cor-12), var(--cor-7)) 1;
    border-radius: 15px;
}

.card:hover {
    border-image: linear-gradient(var(--cor-12), var(--cor-p1)) 1;
}

.card img {
    max-width: 40px;
    margin: 12px 0px;
}

.card h3 {
    margin: 12px 0px;
}

@media (max-width: 800px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}
