.sobre {
  padding-top: 40px;
  padding-bottom: 40px;
}

.info-sobre {
  text-align: center;
}

.info-sobre h1 {
  max-width: 27ch;
  margin: 20px auto;
}

.info-sobre img {
  margin: 60px auto;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.card {
  background-color: var(--cor-11);
  padding: 40px 40px 40px 40px;
  border-radius: 10px;
}

.card img {
  max-width: 40px;
  margin-bottom: 20px;
}

.card h3 {
  margin-bottom: 12px;
}

@media (max-width: 800px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}